<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
>

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>Index</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" id="bootstrap-css" rel="stylesheet">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">
</head>
<body>
<h1 style="text-align: center" th:inline="text">Hallo [[${#httpServletRequest.remoteUser}]]!</h1>
<form method="post" th:action="@{/logout}">
    <input type="submit" value="Sign Out"/>
</form>
<div class="container text-center">
    <h1>Welcome to Klassenliste Applikation</h1>
    <h3><a th:href="@{/users}">List of Users</a></h3>
    <h3><a th:href="@{/newUser}">Neu User anlegen</a></h3>
    <h3><a th:href="@{/login}">Login Seite</a></h3>
</div>

</body>
</html>