<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
>

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>Users Verwaltung</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" id="bootstrap-css" rel="stylesheet">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">
</head>
<body>
<div align="center">
    <h1>Create New User</h1>
    <br/>

    <form method="post" style="max-width: 600px; margin: 0 auto;"
          th:action="@{/users/save}" th:object="${user}">
        <input th:field="*{id}" type="hidden"/>
        <div class="m-3">
            <div class="form-group row">
                <label class="col-4 col-form-label">Username </label>
                <div class="col-8">
                    <input class="form-control" required th:field="*{username}" type="text"/>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-4 col-form-label">Password: </label>
                <div class="col-8">
                    <input class="form-control" maxlength="10" minlength="6"
                           required th:field="*{password}" type="password"/>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-4 col-form-label">Roles: </label>
                <div class="col-8">
                    <th:block th:each="role: ${listRoles}">
                        <input class="m-2" th:field="*{roles}"
                               th:text="${role.name}" th:value="${role.id}" type="checkbox"/>
                    </th:block>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-4 col-form-label">Aktiv ? </label>
                <div class="col-8">
                    <input name="enabled" type="radio" value="true"> Aktiv <br
                        class="form-control" th:field="*{enabled}"/>
                    <input name="enabled" type="radio" value="false"> Deaktiv <br
                        class="form-control" th:field="*{enabled}"/>
                </div>
            </div>

            <div>
                <button class="btn btn-primary" type="submit">save</button>
            </div>
        </div>
    </form>
</div>
</body>
</html>