<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>Users Verwaltung</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" id="bootstrap-css" rel="stylesheet">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">
</head>
<body>
<div align="center">
    <h1>Create New User</h1>
    <br/>

    <form th:action="@{/users/save}" th:object="${user}"
          method="post" style="max-width: 600px; margin: 0 auto;">
        <input type="hidden" th:field="*{id}" />
        <div class="m-3">
            <div class="form-group row">
                <label class="col-4 col-form-label">Username </label>
                <div class="col-8">
                    <input type="text" th:field="*{username}" class="form-control" required />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-4 col-form-label">Password: </label>
                <div class="col-8">
                    <input type="password" th:field="*{password}" class="form-control"
                           required minlength="6" maxlength="10"/>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-4 col-form-label">Roles: </label>
                <div class="col-8">
                    <th:block th:each="role: ${listRoles}">
                        <input type="checkbox" th:field="*{roles}"
                               th:text="${role.name}" th:value="${role.id}" class="m-2" />
                    </th:block>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-4 col-form-label">Aktiv ? </label>
                <div class="col-8">
                    <input type="radio" name="enabled" value="true"> Aktiv <br
                        th:field="*{enabled}" class="form-control"/>
                    <input type="radio" name="enabled" value="false"> Deaktiv <br
                        th:field="*{enabled}" class="form-control"/>
                </div>
            </div>

            <div>
                <button type="submit" class="btn btn-primary">save</button>
            </div>
        </div>
    </form>
</div>
</body>
</html>