<!DOCTYPE html>

<html xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>Users Verwaltung</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" id="bootstrap-css" rel="stylesheet">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">
</head>
<body>
<div class="container text-center">
    <h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>
    <div>
        <form method="post" th:action="@{/logout}">
            <div>Willkommen<span sec:authentication="principal.authorities"></span></div>
            </p>
            <input type="submit" value="Sign Out"/>
        </form>
    </div>
    <div>
        <h1>List of Users</h1>
    </div>

    <div>
        <table class="table table-striped table-bordered">
            <thead class="thead-dark">
            <tr>
                <th>User ID</th>
                <th>Username</th>
                <th>Password</th>
                <th>Roles</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user: ${listUsers}">
                <td th:text="${user.id}">User ID</td>
                <td th:text="${user.username}">Username</td>
                <td th:text="${user.password}">Password</td>
                <td th:text="${user.roles}">Role</td>
                <td><a th:href="@{'/users/edit/' + ${user.id}}">Edit</a></td>
                <td><a th:href="@{'/users/delete/' + ${user.id}}">Delete</a></td>
            </tr>
            </tbody>
        </table>
        <p1>Löschen Sie vor dem Löschen eines Benutzers die Rollen des Benutzers aus dem Edit-Bereich.</p1>
    </div>
</div>
</body>
</html>